---
import Section from "./Section.astro"
---



<Section 
title="Accesorios"
subtitle=""
color="black"
id="accesorios"

>
			
<div slot="footer" class="flex gap-x-4 mx-auto">

    <a class=" bg-black  rounded font-medium px-12 py-2 hover:bg-gray-800 transition-colors inline-flex justify-center items-center text-white " href="#">Saber más</a>
</div>

    
<img 
slot="background"
src="/accessories.avif" 
alt="Accesorio" 
class="h-full w-full object-cover object-center"
id="bg-image-modely">

</Section>
