---
import Section from "./Section.astro"
---



<Section 
title="Solar y Poweall"
subtitle="Energia para todos"
color="black"
id="porwerall"

>
			
<div slot="footer" class="flex gap-x-4 mx-auto">

    

    <a class="border-[2px] border-white bg-white/5 backdrop-blur-sm rounded font-medium px-12 py-2 hover:bg-white hover:text-black transition-colors inline-flex justify-center items-center text-white " href="#">Saber más</a>
</div>

    
<img 
slot="background"
src="/powerwall.avif" 
alt="Model Y" 
class="h-full w-full object-cover object-center"
id="bg-image-modely">

</Section>

